<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net45" />
  <package id="Microsoft.IdentityModel.Logging" version="1.1.2" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.1.2" targetFramework="net461" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="NSubstitute" version="1.10.0.0" targetFramework="net45" />
  <package id="NUnit" version="3.2.0" targetFramework="net45" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.1.2" targetFramework="net461" />
</packages>