language: csharp
solution: Twilio.sln
mono: latest
dotnet: 3.1
services:
- docker
jobs:
  include:
  - language: csharp
    name: Run Build
    dotnet: 3.1
    script:
    - make test
    - make release
    - if [[ "$TRAVIS_BRANCH" == "main"  ||  "$TRAVIS_BRANCH" == "travis" ]] && [ "$TRAVIS_PULL_REQUEST"
      == "false" ]; then echo "${DOCKER_PASSWORD}" | docker login -u "${DOCKER_USERNAME}"
      --password-stdin; fi
  - language: csharp
    name: Run Sonar analysis
    install:
    - dotnet tool install --global dotnet-sonarscanner
    before_script:
    - export PATH=$PATH:/home/travis/.dotnet/tools
    script:
    - make cover
    after_failure:
    - tail --lines=1000 buildsonar.log
deploy:
- provider: script
  script: make docker-build && make docker-push
  skip_cleanup: true
  on:
    branch: main
    tags: true
- provider: script
  script: dotnet nuget push **/*.nupkg -k $NUGET_API_KEY -s https://api.nuget.org/v3/index.json
  skip_cleanup: true
  on:
    branch: main
    tags: true
notifications:
  slack:
    if: branch = main
    on_pull_requests: false
    on_success: never
    on_failure: change
    rooms:
      secure: MoZ9nM/oIwiLOa8In+Dp9KpGVlHBTW5zGwJ8v5TgmOAdWPph0cP+8C4q/qR0s3UPejQflWA0u7g92Yr6X9eaPiGR5o/JGzTGW8hgW0bCylHLdxwEGSrbg3bPOFV2kyGYHVbiJHUNSwY/wQY6sdglD3xetviCN3u3bJQYixzPv3o=
addons:
  sonarcloud:
    organization: "twilio"
    token:
      secure: joJjKWVBI/QT7CS8Fd9xvJkI6vSp3QS+lBKP9JUlR+l470jtYWAeerxeKNMYhP+uehsh3qTz53aqPs6J0BwzV+cdCxepf575DKYdDNgREJh3AWNgOn2GGbRUkr+EQBl1zBDp8A7WLiV+l1Uno6l7uuTLHvcWPe/wMZgUhdNAC54=
