language: csharp
solution: Twilio.sln
dist: trusty
sudo: required

install:
  - sudo sh -c 'echo "deb [arch=amd64] https://apt-mo.trafficmanager.net/repos/dotnet-release/ trusty main" > /etc/apt/sources.list.d/dotnetdev.list'
  - sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 417A0893
  - sudo apt-get update
  - sudo apt-get install dotnet-dev-1.0.0-rc4-004771
  - dotnet restore Twilio.Tests/Twilio.Tests.csproj
  - dotnet build Twilio.Tests/Twilio.Tests.csproj

script:
  - dotnet run --project Twilio.Tests/Twilio.Tests.csproj
