/*
 * This code was generated by
 * ___ _ _ _ _ _    _ ____    ____ ____ _    ____ ____ _  _ ____ ____ ____ ___ __   __
 *  |  | | | | |    | |  | __ |  | |__| | __ | __ |___ |\ | |___ |__/ |__|  | |  | |__/
 *  |  |_|_| | |___ | |__|    |__| |  | |    |__] |___ | \| |___ |  \ |  |  | |__| |  \
 *
 * Conversation Orchestrator
 * Manage configurations, conversations, participants, and communications. Create configurations to define capture rules and channel settings, then use conversations to group related communications.
 *
 * NOTE: This class is auto generated by OpenAPI Generator.
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


using Newtonsoft.Json;
using System;
using System.Collections.Generic;
using Twilio.Base;
using Twilio.Clients;
using Twilio.Constant;
using Twilio.Converters;
using Twilio.Exceptions;
using Twilio.Http;
using Twilio.Types;

namespace Twilio.Rest.Conversations.V2
{
            public class OperationFetchResource : Resource
{
        ///<summary> Unique identifier for the long-running operation. </summary> 
        [JsonProperty("operationId")]
            public string OperationId { get; private set;}

        
        [JsonProperty("status")]
            public OperationResource.ConversationsV2OperationStatusValue Status { get; private set;}

        ///<summary> Timestamp when the operation was created. </summary> 
        [JsonProperty("createdAt")]
            public DateTime? CreatedAt { get; private set;}

        ///<summary> URL to poll for operation status. </summary> 
        [JsonProperty("statusUrl")]
            public Uri StatusUrl { get; private set;}

        ///<summary> Timestamp when the operation completed. Only present for completed or failed operations. </summary> 
        [JsonProperty("completedAt")]
            public DateTime? CompletedAt { get; private set; }

        ///<summary> The error </summary> 
        [JsonProperty("error")]
            public OperationResource.FetchOperationStatus200ResponseError Error { get; private set; }

        ///<summary> Named resource identifiers associated with this operation. Keys depend on the operation type: - config-create, config-update, config-delete: configurationId - conversation-delete: conversationId  </summary> 
        [JsonProperty("related")]
            public Dictionary<string, string> Related { get; private set; }


    public static OperationFetchResource FromJson(string json) {
        try {
            return JsonConvert.DeserializeObject<OperationFetchResource>(json);
        }
        catch (JsonException e) {
            throw new ApiException(e.Message, e);
        }
    }
    public static string ToJson(object model) {
        try {
            return JsonConvert.SerializeObject(model);
        }
        catch (JsonException e) {
            throw new ApiException(e.Message, e);
        }
    }
}

    public class OperationResource : Resource
    {
    
        public class FetchOperationStatus200ResponseError
        {
            [JsonProperty("type", NullValueHandling = NullValueHandling.Ignore)]
            public string Type {get; private set;}
            [JsonProperty("title", NullValueHandling = NullValueHandling.Ignore)]
            public string Title {get; private set;}
            [JsonProperty("status", NullValueHandling = NullValueHandling.Ignore)]
            public int Status {get; private set;}
            [JsonProperty("detail", NullValueHandling = NullValueHandling.Ignore)]
            public string Detail {get; private set;}
            [JsonProperty("instance", NullValueHandling = NullValueHandling.Ignore)]
            public string Instance {get; private set;}
            public FetchOperationStatus200ResponseError() { }
            public class Builder
            {
                private FetchOperationStatus200ResponseError _fetchOperationStatus200ResponseError = new FetchOperationStatus200ResponseError();
                public Builder()
                {
                }
                public Builder WithType(string type)
                {
                    _fetchOperationStatus200ResponseError.Type= type;
                    return this;
                }
                public Builder WithTitle(string title)
                {
                    _fetchOperationStatus200ResponseError.Title= title;
                    return this;
                }
                public Builder WithStatus(int status)
                {
                    _fetchOperationStatus200ResponseError.Status= status;
                    return this;
                }
                public Builder WithDetail(string detail)
                {
                    _fetchOperationStatus200ResponseError.Detail= detail;
                    return this;
                }
                public Builder WithInstance(string instance)
                {
                    _fetchOperationStatus200ResponseError.Instance= instance;
                    return this;
                }
                public FetchOperationStatus200ResponseError Build()
                {
                    return _fetchOperationStatus200ResponseError;
                }
            }
        }

    
        [JsonConverter(typeof(StringEnumConverter))]
        public sealed class ConversationsV2OperationStatusValue : StringEnum
        {
            private ConversationsV2OperationStatusValue(string value) : base(value) {}
            public ConversationsV2OperationStatusValue() {}
            public static implicit operator ConversationsV2OperationStatusValue(string value)
            {
                return new ConversationsV2OperationStatusValue(value);
            }
            public static readonly ConversationsV2OperationStatusValue Pending = new ConversationsV2OperationStatusValue("PENDING");
            public static readonly ConversationsV2OperationStatusValue Completed = new ConversationsV2OperationStatusValue("COMPLETED");
            public static readonly ConversationsV2OperationStatusValue Failed = new ConversationsV2OperationStatusValue("FAILED");

        }

            
        private static Request BuildFetchRequest(FetchOperationOptions options, ITwilioRestClient client)
        {
            
            string path = "/v2/ControlPlane/Operations/{id}";

            string PathId = options.PathId;
            path = path.Replace("{"+"id"+"}", PathId);

            return new Request(
                HttpMethod.Get,
                Rest.Domain.Conversations,
                path,
                queryParams: options.GetParams(),
                headerParams: null
            );
        }

        /// <summary> Retrieve the current status of a long-running operation. Operations progress through: PENDING -> RUNNING -> COMPLETED or FAILED.  </summary>
        /// <param name="options"> Fetch Operation parameters </param>
        /// <param name="client"> Client to make requests to Twilio </param>
        /// <returns> A single instance of Operation </returns>
        public static OperationFetchResource Fetch(FetchOperationOptions options, ITwilioRestClient client = null)
        {
            client = client ?? TwilioClient.GetRestClient();
            var response = client.Request(BuildFetchRequest(options, client));
            return OperationFetchResource.FromJson(response.Content);
        }

        #if !NET35
        /// <summary> Retrieve the current status of a long-running operation. Operations progress through: PENDING -> RUNNING -> COMPLETED or FAILED.  </summary>
        /// <param name="options"> Fetch Operation parameters </param>
        /// <param name="client"> Client to make requests to Twilio </param>
        /// <returns> Task that resolves to A single instance of Operation </returns>
        public static async System.Threading.Tasks.Task<OperationFetchResource> FetchAsync(FetchOperationOptions options, ITwilioRestClient client = null)
        {
            client = client ?? TwilioClient.GetRestClient();
            var response = await client.RequestAsync(BuildFetchRequest(options, client));
            return OperationFetchResource.FromJson(response.Content);
        }
        #endif
        /// <summary> Retrieve the current status of a long-running operation. Operations progress through: PENDING -> RUNNING -> COMPLETED or FAILED.  </summary>
        /// <param name="pathId">  </param>
        /// <param name="client"> Client to make requests to Twilio </param>
        /// <returns> A single instance of Operation </returns>
        public static OperationFetchResource Fetch(
                                         string pathId, 
                                        ITwilioRestClient client = null)
        {
            var options = new FetchOperationOptions(pathId){  };
            return Fetch(options, client);
        }

        #if !NET35
        /// <summary> Retrieve the current status of a long-running operation. Operations progress through: PENDING -> RUNNING -> COMPLETED or FAILED.  </summary>
        /// <param name="pathId">  </param>
        /// <param name="client"> Client to make requests to Twilio </param>
        /// <returns> Task that resolves to A single instance of Operation </returns>
        public static async System.Threading.Tasks.Task<OperationFetchResource> FetchAsync(string pathId, ITwilioRestClient client = null)
        {
            var options = new FetchOperationOptions(pathId){  };
            return await FetchAsync(options, client);
        }
        #endif
            
        public static TwilioResponse<OperationFetchResource> FetchWithHeaders(FetchOperationOptions options, ITwilioRestClient client = null)
        {
            client = client ?? TwilioClient.GetRestClient();
            var response = client.Request(BuildFetchRequest(options, client));
            var resource = OperationFetchResource.FromJson(response.Content);
            return new TwilioResponse<OperationFetchResource>(resource, response.Headers, response.StatusCode);
        }
        #if !NET35
        public static async System.Threading.Tasks.Task<TwilioResponse<OperationFetchResource>> FetchWithHeadersAsync(FetchOperationOptions options, ITwilioRestClient client = null)
        {
            client = client ?? TwilioClient.GetRestClient();
            var response = await client.RequestAsync(BuildFetchRequest(options, client));
            var resource = OperationFetchResource.FromJson(response.Content);
            return new TwilioResponse<OperationFetchResource>(resource, response.Headers, response.StatusCode);
        }
        #endif
        
        public static TwilioResponse<OperationFetchResource> FetchWithHeaders(
                    string pathId, 
                ITwilioRestClient client = null)
        {
            var options = new FetchOperationOptions(pathId){  };
            return FetchWithHeaders(options, client);
        }
        
        #if !NET35
        public static async System.Threading.Tasks.Task<TwilioResponse<OperationFetchResource>> FetchWithHeadersAsync(string pathId, ITwilioRestClient client = null)
        {
            var options = new FetchOperationOptions(pathId){  };
            return await FetchWithHeadersAsync(options, client);
        }
        #endif
        /// <summary>
    /// Converts an object into a json string
    /// </summary>
    /// <param name="model"> C# model </param>
    /// <returns> JSON string </returns>
    public static string ToJson(object model)
    {
        try
        {
            return JsonConvert.SerializeObject(model);
        }
        catch (JsonException e)
        {
            throw new ApiException(e.Message, e);
        }
    }
    }
}
