/*
 * This code was generated by
 * ___ _ _ _ _ _    _ ____    ____ ____ _    ____ ____ _  _ ____ ____ ____ ___ __   __
 *  |  | | | | |    | |  | __ |  | |__| | __ | __ |___ |\ | |___ |__/ |__|  | |  | |__/
 *  |  |_|_| | |___ | |__|    |__| |  | |    |__] |___ | \| |___ |  \ |  |  | |__| |  \
 *
 * Twilio Knowledge API
 * APIs for managing knowledge bases and knowledge content for AI-powered applications.
 *
 * NOTE: This class is auto generated by OpenAPI Generator.
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


using Newtonsoft.Json;
using System;
using System.Collections.Generic;
using Twilio.Base;
using Twilio.Clients;
using Twilio.Constant;
using Twilio.Converters;
using Twilio.Exceptions;
using Twilio.Http;
using Twilio.Types;

namespace Twilio.Rest.Knowledge.V2
{
            public class OperationFetchResource : Resource
{
        ///<summary> The unique identifier for this operation. </summary> 
        [JsonProperty("operationId")]
            public string OperationId { get; private set;}

        ///<summary> The current status of the operation. </summary> 
        [JsonProperty("status")]
            public OperationResource.StatusEnum Status { get; private set;}

        ///<summary> When the operation was created. </summary> 
        [JsonProperty("createdAt")]
            public DateTime? CreatedAt { get; private set;}

        ///<summary> URI to check operation status. </summary> 
        [JsonProperty("statusUrl")]
            public Uri StatusUrl { get; private set; }

        ///<summary> When the operation completed or failed. </summary> 
        [JsonProperty("completedAt")]
            public DateTime? CompletedAt { get; private set; }

        ///<summary> The result </summary> 
        [JsonProperty("result")]
            public OperationResource.OperationResultResourceId Result { get; private set; }

        ///<summary> The error </summary> 
        [JsonProperty("error")]
            public OperationResource.OperationStatusError Error { get; private set; }

        ///<summary> URL to fetch the resulting resource. </summary> 
        [JsonProperty("resultUrl")]
            public Uri ResultUrl { get; private set; }


    public static OperationFetchResource FromJson(string json) {
        try {
            return JsonConvert.DeserializeObject<OperationFetchResource>(json);
        }
        catch (JsonException e) {
            throw new ApiException(e.Message, e);
        }
    }
    public static string ToJson(object model) {
        try {
            return JsonConvert.SerializeObject(model);
        }
        catch (JsonException e) {
            throw new ApiException(e.Message, e);
        }
    }
}

    public class OperationResource : Resource
    {
    
        public class OperationResultResourceId
        {
            [JsonConverter(typeof(StringEnumConverter))]
            [JsonProperty("type", NullValueHandling = NullValueHandling.Ignore)]
            public OperationResource.TypeEnum Type {get; private set;}
            [JsonProperty("id", NullValueHandling = NullValueHandling.Ignore)]
            public string Id {get; private set;}
            public OperationResultResourceId() { }
            public class Builder
            {
                private OperationResultResourceId _operationResultResourceId = new OperationResultResourceId();
                public Builder()
                {
                }
                public Builder WithType(OperationResource.TypeEnum type)
                {
                    _operationResultResourceId.Type= type;
                    return this;
                }
                public Builder WithId(string id)
                {
                    _operationResultResourceId.Id= id;
                    return this;
                }
                public OperationResultResourceId Build()
                {
                    return _operationResultResourceId;
                }
            }
        }
        public class OperationStatusError
        {
            [JsonProperty("type", NullValueHandling = NullValueHandling.Ignore)]
            public string Type {get; private set;}
            [JsonProperty("title", NullValueHandling = NullValueHandling.Ignore)]
            public string Title {get; private set;}
            [JsonProperty("code", NullValueHandling = NullValueHandling.Ignore)]
            public int Code {get; private set;}
            [JsonProperty("detail", NullValueHandling = NullValueHandling.Ignore)]
            public string Detail {get; private set;}
            public OperationStatusError() { }
            public class Builder
            {
                private OperationStatusError _operationStatusError = new OperationStatusError();
                public Builder()
                {
                }
                public Builder WithType(string type)
                {
                    _operationStatusError.Type= type;
                    return this;
                }
                public Builder WithTitle(string title)
                {
                    _operationStatusError.Title= title;
                    return this;
                }
                public Builder WithCode(int code)
                {
                    _operationStatusError.Code= code;
                    return this;
                }
                public Builder WithDetail(string detail)
                {
                    _operationStatusError.Detail= detail;
                    return this;
                }
                public OperationStatusError Build()
                {
                    return _operationStatusError;
                }
            }
        }

    
        [JsonConverter(typeof(StringEnumConverter))]
        public sealed class StatusEnum : StringEnum
        {
            private StatusEnum(string value) : base(value) {}
            public StatusEnum() {}
            public static implicit operator StatusEnum(string value)
            {
                return new StatusEnum(value);
            }
            public static readonly StatusEnum Pending = new StatusEnum("PENDING");
            public static readonly StatusEnum Running = new StatusEnum("RUNNING");
            public static readonly StatusEnum Cancelled = new StatusEnum("CANCELLED");
            public static readonly StatusEnum Completed = new StatusEnum("COMPLETED");
            public static readonly StatusEnum Failed = new StatusEnum("FAILED");

        }
        [JsonConverter(typeof(StringEnumConverter))]
        public sealed class TypeEnum : StringEnum
        {
            private TypeEnum(string value) : base(value) {}
            public TypeEnum() {}
            public static implicit operator TypeEnum(string value)
            {
                return new TypeEnum(value);
            }
            public static readonly TypeEnum ResourceId = new TypeEnum("RESOURCE_ID");

        }

            
        private static Request BuildFetchRequest(FetchOperationOptions options, ITwilioRestClient client)
        {
            
            string path = "/v2/ControlPlane/Operations/{operationId}";

            string PathOperationId = options.PathOperationId;
            path = path.Replace("{"+"operationId"+"}", PathOperationId);

            return new Request(
                HttpMethod.Get,
                Rest.Domain.Knowledge,
                path,
                queryParams: options.GetParams(),
                headerParams: null
            );
        }

        /// <summary> Retrieve the status and result of an asynchronous operation. </summary>
        /// <param name="options"> Fetch Operation parameters </param>
        /// <param name="client"> Client to make requests to Twilio </param>
        /// <returns> A single instance of Operation </returns>
        public static OperationFetchResource Fetch(FetchOperationOptions options, ITwilioRestClient client = null)
        {
            client = client ?? TwilioClient.GetRestClient();
            var response = client.Request(BuildFetchRequest(options, client));
            return OperationFetchResource.FromJson(response.Content);
        }

        #if !NET35
        /// <summary> Retrieve the status and result of an asynchronous operation. </summary>
        /// <param name="options"> Fetch Operation parameters </param>
        /// <param name="client"> Client to make requests to Twilio </param>
        /// <returns> Task that resolves to A single instance of Operation </returns>
        public static async System.Threading.Tasks.Task<OperationFetchResource> FetchAsync(FetchOperationOptions options, ITwilioRestClient client = null)
        {
            client = client ?? TwilioClient.GetRestClient();
            var response = await client.RequestAsync(BuildFetchRequest(options, client));
            return OperationFetchResource.FromJson(response.Content);
        }
        #endif
        /// <summary> Retrieve the status and result of an asynchronous operation. </summary>
        /// <param name="pathOperationId"> The operation ID returned from a write endpoint. </param>
        /// <param name="client"> Client to make requests to Twilio </param>
        /// <returns> A single instance of Operation </returns>
        public static OperationFetchResource Fetch(
                                         string pathOperationId, 
                                        ITwilioRestClient client = null)
        {
            var options = new FetchOperationOptions(pathOperationId){  };
            return Fetch(options, client);
        }

        #if !NET35
        /// <summary> Retrieve the status and result of an asynchronous operation. </summary>
        /// <param name="pathOperationId"> The operation ID returned from a write endpoint. </param>
        /// <param name="client"> Client to make requests to Twilio </param>
        /// <returns> Task that resolves to A single instance of Operation </returns>
        public static async System.Threading.Tasks.Task<OperationFetchResource> FetchAsync(string pathOperationId, ITwilioRestClient client = null)
        {
            var options = new FetchOperationOptions(pathOperationId){  };
            return await FetchAsync(options, client);
        }
        #endif
            
        public static TwilioResponse<OperationFetchResource> FetchWithHeaders(FetchOperationOptions options, ITwilioRestClient client = null)
        {
            client = client ?? TwilioClient.GetRestClient();
            var response = client.Request(BuildFetchRequest(options, client));
            var resource = OperationFetchResource.FromJson(response.Content);
            return new TwilioResponse<OperationFetchResource>(resource, response.Headers, response.StatusCode);
        }
        #if !NET35
        public static async System.Threading.Tasks.Task<TwilioResponse<OperationFetchResource>> FetchWithHeadersAsync(FetchOperationOptions options, ITwilioRestClient client = null)
        {
            client = client ?? TwilioClient.GetRestClient();
            var response = await client.RequestAsync(BuildFetchRequest(options, client));
            var resource = OperationFetchResource.FromJson(response.Content);
            return new TwilioResponse<OperationFetchResource>(resource, response.Headers, response.StatusCode);
        }
        #endif
        
        public static TwilioResponse<OperationFetchResource> FetchWithHeaders(
                    string pathOperationId, 
                ITwilioRestClient client = null)
        {
            var options = new FetchOperationOptions(pathOperationId){  };
            return FetchWithHeaders(options, client);
        }
        
        #if !NET35
        public static async System.Threading.Tasks.Task<TwilioResponse<OperationFetchResource>> FetchWithHeadersAsync(string pathOperationId, ITwilioRestClient client = null)
        {
            var options = new FetchOperationOptions(pathOperationId){  };
            return await FetchWithHeadersAsync(options, client);
        }
        #endif
        /// <summary>
    /// Converts an object into a json string
    /// </summary>
    /// <param name="model"> C# model </param>
    /// <returns> JSON string </returns>
    public static string ToJson(object model)
    {
        try
        {
            return JsonConvert.SerializeObject(model);
        }
        catch (JsonException e)
        {
            throw new ApiException(e.Message, e);
        }
    }
    }
}
